.nav {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  column-gap: 2rem;

  .item {
  }

  .lang {
    margin-left: auto;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
  }
}
