.title {
  font-weight: 600;
  letter-spacing: -0.075rem;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.25rem;
}

.h3 {
  margin-top: -0.25rem;
  font-size: 0.8rem;
  letter-spacing: -0.075rem;
  color: #808080;
}
