.content {
  h3 {
    margin-top: -0.25rem;
    font-size: 0.8rem;
    letter-spacing: -0.075rem;
  }

  .info {
    margin-top: 1rem;
    font-size: 1rem;

    p + p {
      margin-top: 0.5rem;
    }
  }
}
